@model List<Turners.UserPortal.Domain.User>

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h3>User Search</h3>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("search", "home", FormMethod.Post))
        {
            <input type="text" name="userName" placeholder="User Name"/>
            <input type="text" name="departmentName" placeholder="Department"/>
            <input type="submit" value="Search"/>
        }
    </div >
    <div class="col-md-12">

        <p>
            @if (Model!= null && Model.Count > 0)
                {
                    var headerModel = Model[0];

                <div id="DivRoot" align="left">
                    <div style="overflow: hidden;" id="DivHeaderRow" class="headerRow">
                        <table style="width:100%;">
                            <thead>
                                <tr>
                                    <th width="16%">@Html.LabelFor(x => x[0].Name)</th>
                                    <th width="16%">@Html.LabelFor(x => x[0].JobDescription)</th>
                                    <th width="16%">@Html.LabelFor(x => x[0].TelephoneNumber)</th>
                                    <th width="16%">@Html.LabelFor(x => x[0].Extension)</th>
                                    <th width="16%">@Html.LabelFor(x => x[0].Mobile)</th>
                                    <th width="17%">@Html.LabelFor(x => x[0].Department)</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                    <div style="overflow:scroll;" onscroll="OnScrollDiv(this)" id="DivMainContent" class="user-table-body">
                        <table style="width:100%;">
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td width="16%">@user.Name</td>
                                        <td width="16%">@user.JobDescription</td>
                                        <td width="16%">@user.TelephoneNumber</td>
                                        <td width="16%">@user.Extension</td>
                                        <td width="17%">@user.Mobile</td>
                                        <td width="16%">@user.Department</td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>

                    <div id="DivFooterRow" style="overflow:hidden">
                    </div>
                </div>
            }
            </p>
    </div>
</div>